#loading-overlay {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(12, 16, 60, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-logo {
    width: 50px;
    animation: scaleAndSpin 2s forwards, slide 1s 2s forwards;
}

@keyframes scaleAndSpin {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(4) rotate(360deg);
    }
}

@keyframes slide {
    0% {
        transform: scale(4) translate(0,0);
    }
    100% {
        transform: scale(1) translate(-90%, 90%);
    }
}
